* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111827;
}

.edit-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  transition: 0.2s;
}

.edit-btn:hover {
  transform: scale(1.1);
}